.loginForm {
  height: 30px;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}
.registerForm {
  width: 100%;
  align-items: stretch;
  padding: 0;
  margin: 0;
}
.registerForm input {
  width: 100%;
  margin-top: 10px;
}


.loginForm input {
  height: 30px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0 12px;
  margin: 0;
}

input {
  height: 30px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0 12px;
  margin: 0;
}
button {
  height: 30px;
  width: fit-content;
  box-sizing: border-box;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  background-color: gray;
  color: white;
  padding: 0 12px;
  margin: 0;
}

.deleteButton {
  height: 30px;
  box-sizing: border-box;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  background-color: red;
  color: white;
  padding: 0 12px;
  margin: 0;
}

.logo {
  height: 64px;
  width: 256px;
}
